@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  min-height: 100vh;
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
}